<!-- Template der LoginView Komponente  -->
<div class="container-fluid logincontainer">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="page-header">
        <h2>Herzlich Willkommen in der Chat App!!! </h2>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" *ngIf="loginView">Login</h3>
      <h3 class="panel-title" *ngIf="!loginView">Register</h3>
    </div>
    <!-- Version 1 für bedingte Darstellung mit *ngIf Direktive -->
    <div class="panel-body">
      <ba-login *ngIf="loginView"></ba-login>
      <ba-register *ngIf="!loginView"></ba-register>
    </div>
    <!-- Version 2 für bedingte Darstellung mit ngSwitch Direktive -->
    <!--
    <div class="panel-body" [ngSwitch]="loginView">
      <ba-login *ngSwitchCase="true"></ba-login>
      <ba-register *ngSwitchCase="false"></ba-register>
      <div *ngSwitchDefault>LoginView kann nicht geladen werden </div>
    </div>
    -->
    <div class="panel-footer">
      <p *ngIf="loginView" (click)="changeLogin()" class="panelFooter">Registrieren</p>
      <p *ngIf="!loginView" (click)="changeLogin()" class="panelFooter">zur&uuml;ck zum Login</p>
    </div>
  </div>
      <div class="col-md-3"></div>
  </div>


</div>
</div>
