.logincontainer{
  background-color: #206C77;
  height: 100vh;
}

.page-header{
  color: white;
}

.panel{
  margin-top: 50px;
}

.panel-footer{
  text-align:right;
}

.panelFooter:hover{
  text-decoration: underline;
  cursor: pointer;
}
