<!-- Template der Userinfo Komponente -->
<div class="userinfo">
  <!-- Interpolation mit async und safety Operator  -->
  <h1>Hallo <b>{{(user | async)?.firstname }} {{(user | async)?.lastname}}</b>, viel Spa&szlig; beim chatten. </h1>
  <!-- INterpollation mit async und safty operator und date Pipe  -->
  <p *ngIf="(user|async)?.birthday">{{(user |async)?.birthday | date:'longDate'}}</p>
</div>
