<!-- Template der Chat Komponente -->
<div class="container-fluid chatcontainer">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- Verwendung der Userinfo Komponente, Property Binding von currentUserData an [user] -->
          <ba-user-info [user]="currentUserData"></ba-user-info>
        </div>
        <div class="panel-body messagepanel" #messagepanel>
          <!-- Verwendung der Message Komponente, Iteration über messages Liste mit *ngFor Direktive,
           Property Binding der message an [msg] und currentUserID an [userID] -->
          <ba-message *ngFor="let message of messages | async" [msg]="message" [userID]="currentUserID"></ba-message>
        </div>
        <div class="panel-footer">
          <!-- Verwendung der Messageinput Komponente -->
          <ba-message-input></ba-message-input>
        </div>
    </div>

    <div class="col-md-1"></div>
  </div>

  </div>

</div>
