<!-- Template der Login Komponente  -->
<div class="login">
<p>Einloggen um die Chat App zu verwenden</p>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <label for="loginEmail">Email: </label>
    </div>
    <div class="col-md-4">
      <!--input mit two-way Data Binding über [(ngModel)]-->
      <input type="text" [(ngModel)]="login.email" id="loginEmail" class="form-control">
    </div>
    <div class="col-md-2"></div>
  </div>
<br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <label for="loginPassword">Passwort: </label>
    </div>
    <div class="col-md-4">
      <!--input mit two-way Data Binding über [(ngModel)]-->
      <input type="password" [(ngModel)]="login.password" id="loginPassword" class="form-control">
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <!-- Button mit (click) Event Binding -->
      <input type="button" class="btn btn-default" value="Login" (click)="loginUser()" >
    </div>
    <div class="col-md-2"></div>


  </div>
</div>
