<!-- Template der LogoutView Komponente  -->
<div class="container-fluid logoutcontainer">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Erfolgreich Ausgeloggt</h3>
        </div>
        <div class="panel-body">
          Vielen Dank, dass sie Chat App verwendet haben!
          Wir freuen uns sie bald wieder hier begr&uuml;&szlig;en zu d&ouml;nnen!
        </div>
        <div class="panel-footer">
          <p class="panelFooter" routerLink="/login"> zum Login</p>
        </div>
      </div>


    </div>
    <div class="col-md-3"></div>
  </div>

</div>

