.logoutcontainer{
  background-color: #206C77;
  height: 100vh;
}

.panel{
  margin-top: 100px;
}

.panel-body{
  height: 200px;
  padding-top: 75px;
}

.panel-footer{
  text-align:right;
}

.panelFooter:hover{
  text-decoration: underline;
  cursor: pointer;
}
