<!-- Template der Message Komponente -->
<div class="row">
  <div class="col-md-2" *ngIf="isUsersMessage"></div>
  <div class="col-md-10">
    <!-- Class Binding  -->
    <div class="panel messageitem" [ngClass]="{usersMessage : isUsersMessage}">
      <div class="panel-body">
        <!-- Interpolation der messageUser.firstname und messageUser.lastname mit async und safety Operator -->
      <span><b>{{(messageUser|async)?.firstname}} {{(messageUser|async)?.lastname}}</b></span>
        <!-- Interpolation der msg.timestamp mit date Pipe -->
        <span class="messagetime"><i>{{msg.timestamp | date}}</i></span>
      <p>{{msg.content}}</p>
      </div>
    </div>

  </div>
  <div class="col-md-2" *ngIf="!isUsersMessage"></div>
</div>

