<!-- Template der Messageinput Komponente -->
<div class="row messageinput">
  <div class="col-md-11">
    <!-- input mit two-way Data Binding über [(ngModel)] und (keyup) Event Binding -->
    <input id="newmessageinput" [(ngModel)]="newmessage" class="form-control" (keyup)="sendKeyUpMessage($event)" >
  </div>
  <div class="col-md-1">
    <!-- Button mit (click) Event Binding  -->
    <button type="button" (click)="sendNewMessage()" class="btn btn-default" >
      <span class="glyphicon glyphicon-send" ></span>
    </button>
  </div>
</div>
