.chatviewheader{
  background-color: #206C77;
  color: white;
  height: 75px;
  padding-top: 20px;
}

.chatviewheader div.chatviewtitle{
  font-size: 24px;
  float:left;
}

.chatviewheader div.chatviewlogout{
  text-align: right;
}

.chatviewheader div.chatviewlogout a{
  color: white;
}
