<!-- Template der Chatheader Komponente -->
<div class="container-fluid chatviewheader">
  <div class="chatviewtitle"><b>Chat App</b></div>
  <div class="chatviewlogout">
    <!-- routerLink Direktive für Routing und (click) Event Binding-->
    <a routerLink="/logout" click="logout()">Logout</a>
  </div>
</div>
