<!-- Template der Register Komponente  -->
<div class="register">
<p>Registrieren um die Chat App zu verwenden</p>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <label for="registerfirstname">Firstname: </label>
  </div>
  <div class="col-md-4">
    <!--input mit two-way Data Binding über [(ngModel)]-->
    <input type="text" id="registerfirstname" [(ngModel)]="user.firstname" class="form-control" required>
  </div>
  <div class="col-md-2"></div>
</div>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <label for="registerlastname">Lastname: </label>
    </div>
    <div class="col-md-4">
      <!--input mit two-way Data Binding über [(ngModel)]-->
      <input type="text" id="registerlastname" [(ngModel)]="user.lastname" class="form-control" required>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <label for="registeremail">Email: </label>
    </div>
    <div class="col-md-4">
      <!--input mit two-way Data Binding über [(ngModel)]-->
      <input type="email" id="registeremail" [(ngModel)]="user.email" class="form-control" required>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <label for="registerbirthday">Birthday: </label>
    </div>
    <div class="col-md-4">
      <!--input mit two-way Data Binding über [(ngModel)]-->
      <input type="date" id="registerbirthday" [(ngModel)]="user.birthday" class="form-control" >
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <label for="registerpassword">Password: </label>
    </div>
    <div class="col-md-4">
      <!--input mit two-way Data Binding über [(ngModel)]-->
      <input type="password" id="registerpassword" [(ngModel)]="user.password" class="form-control" required>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8"></div>
    <!-- Button mit (click) Event Binding -->
    <div class="col-md-2"><input type="button" value="Register" (click)="registerUser()" class="btn btn-default"></div>
    <div class="col-md-2"></div>
  </div>
</div>
